#mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputBox {
    padding: 30px;
}

#createButton {
    margin-left: 10px;
    color: white;
    background-color: blue;
    border-color: blue;
}

#joinButton {
    color:white;
    background-color: red;
    border-color: red;
}

.input-size {
    font-size: medium;
}

.rounded-button {
    border-radius: 3px;
}
