.responsive {
    width: 90%;
    max-width: 50rem;
}

table {
    border-collapse: collapse;
}

#priceTableDivider {
    width: 5rem;
}

.cell {
    text-align: center;
    border: 1px solid lightgrey;
    max-width: 0;
    height: 1.5rem;
}

.cell-header {
    text-align: center;
    max-width: 0;
    height: 20px;
}

.invisible {
    color: transparent;
    user-select: none;
}

#statBox {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
}

.card {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 1rem;
    width: 20%;
}

.stat-header {
    font-size: small;
}

.stat-value {
    font-size: x-large;
}

#pendingOrderBox {
    display: flex;
    align-items: center;
    height: 3rem;
}

.order-pill {
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.order-cancel {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.order-cancel:hover {
    background-color: lightgray;
}

#orderBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    margin-top: 2rem;
}

.radio-group {
    display: flex;
    height: 100%;
    align-items: center;
}

#submitButton {
    background-color: blue;
    border-color: blue;
    color: white;
}
